<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout}"
   xmlns:sec="http://www.thymeleaf.org/extras/springsecurity"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  lang="en"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hem - Dina Grupper</title>

    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" />
  </head>
  <body>
    <main class="flex-1 p-5 items-center flex flex-col" layout:fragment="content">
      <h1 class="text-4xl">Dina Grupper</h1>
      <br />
      <hr>
      
      <table class="w-full md:w-[500px] bg-white border border-gray-300 rounded-lg shadow-lg">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Grupp</th>
                        <th class="py-3 px-6 text-left">Position</th>
                    </tr>
                </thead>
                <tbody th:each="g : ${allGroupByCreator}" class="text-gray-600 text-sm font-light">
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <!-- Placera länken inuti cellen -->
                        <td class="py-3 px-6 text-left whitespace-nowrap">
                            <a th:href="'group/'+${g.group.groupID}" class="text-blue-600 hover:underline" th:text="${g.group.groupName}"></a>
                        </td>
                        <td class="py-3 px-6 text-left">  <a th:href="'group/'+${g.group.groupID}" class="text-blue-600 hover:underline">1</a></td>
                    </tr>
                </tbody>
            </table>
    </main>
  </body>
</html>
