<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  lang="en"
>
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Skapa Grupp Av Matcher</title>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" />
  </head>
  <body>
    <main class="flex-1 p-5 overflow-auto" layout:fragment="content">
      <!-- <div th:each="match : ${matchList}" class="grid grid-cols-5 gap-1"> -->
      <h1>Välj matcher</h1>

      <form method="post" th:action="@{/match-list}">
        <!-- CSRF-token för att skydda mot CSRF-attacker -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <input type="text" id="matchListName" name="matchListName" required />
        <select name="selectedMatchIds" multiple>
        <option value="" disabled selected>Välj matcher</option>
        <th:block th:each="m : ${matches}">
            <option th:value="${m.matchId}" th:text="${m.team1 + ' - ' + m.team2 + ' ' + m.matchDate}"></option>
        </th:block>
        </select>
    <button type="submit">Skicka</button>
    </form>
    </main>
  </body>
</html>
